  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="../../../assets/logo.png" alt="">
        <span class="d-none d-lg-block">HRMS</span>
      </a>
      <i class="bi bi-box-arrow-left toggle-sidebar-btn"
     ></i>
    </div>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item pe-3">
          <div class="d-flex align-items-center">
            <div class="ps-2">
              <span class="d-none d-md-block">{{ this.token?.Name }} ({{ this.token?.Email }})</span>
              <span class="d-md-none">{{ this.token?.Name }} ({{ this.token?.Email }})</span>
            </div>
          </div>
        </li>
        <li class="d-none d-md-block">
          <button class="btn btn btn-outline-danger mx-3" (click)="logOut()">
            <i class="bi bi-box-arrow-right"></i>
            <span> Sign Out</span>
          </button>
        </li>
        <li class="d-md-none">
          <button class="btn btn btn-outline-danger mx-3" (click)="logOut()">
            <i class="bi bi-box-arrow-right"></i>
          </button>
        </li>
      </ul>
    </nav>

  </header>
